body{
    margin: 50;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media(max-width:700px){
    .calculator{
        height: 500px;
    }
}


.calculator{
    font-family: arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    height: 100vh;
    

}
.display{
    width: 100%;
    padding: 20px;
    font-size: 3.5rem;
    text-align: left;
    border: none;
    background-color:hsl(0, 0%, 20%) ;
    color: white;
   
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    
}
@media(max-width:700px){
    .keys{
        padding: 35px;
        gap: 20px;
    }
    .keys button{
        padding: 0px;
    }
}
button{
    width: 100px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
@media (max-width:700px){
    button{
        width:50px;
        font-size: 30px;
        height: 55px;
        
    }
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.active{
    background-color: hsl(35, 100%, 55%);
}
.active:hover{
    background-color: hsl(35, 100%, 65%);
}
.active:active{
    background-color: hsl(35, 100%, 75%);
}
